.git
.gitignore
!.env.example
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
tests
phpunit.xml
README.md
